
body {
  /*text-align: center;
  padding: 20px;
  background-color: #3498db; 
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;*/
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../public/images/descarga.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  /* Estilos generales del contenedor */
  padding: 20px;
  transition: background-color 0.5s ease;
}

.container.fire,
.container.ice {
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.container.fire {
  background-color: #e74c3c; /* Rojo para Fire Team */
  color: #fff; /* Color del texto para Fire Team */
  background-image: url('../public/images/fuego.gif');
  background-size: 300px 250px; /*Ajusta el tamaño de la imagen según tus necesidades*/
  background-position: center bottom; /*Ajusta la posición de la imagen*/
  
  max-width: 100%;
  max-height: 30vh;
}

.container.ice {
  background-color: #3498db; /* Azul para Ice Team */
  color: #fff; /* Color del texto para Ice Team */
  background-image: url('../public/images/agua.gif');
  background-size: 220px 250px; /*Ajusta el tamaño de la imagen según tus necesidades*/
  background-position: center top; /*Ajusta la posición de la imagen*/
  max-width: 100%;
  max-height: 30vh;
}

header {
  background: linear-gradient(to right, #e74c3c, #3498db);
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

select {
  padding: 8px;
  margin-bottom: 20px;
}

.google-signin {
  /* Estilos para el contenedor de Google Sign-In, puedes personalizar según la biblioteca que estés utilizando */
}

.sign-out-btn {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-out-btn:hover {
  background-color: #c0392b;
}

