  .Grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(50, 30px);
    grid-template-rows: repeat(50, 30px);
    gap: 1px;
    justify-content: center;
  }

  .grid-item {
    width: 30px;
    height: 30px;
    border: 1px solid black;
  }
